<div class="cups clearfix">
	<div class="wrap-snap clearfix">
		<div class="text text1 {{ items[pageID + 'CupsTop'].classNames }}">
			{{ items[pageID + 'CupsTop'].content | safe }}
		</div>
		<div class="img"></div>
		<div class="text text2 clearfix">
			<div class="row">
				<div class="col-sm-7 l">
					<div class="flourish"></div>
					<div class="words {{ items[pageID + 'CupsBottom'].classNames }}">{{ items[pageID + 'CupsBottom'].content | safe }}</div>
				</div>
				<div class="col-sm-5 r">
					<form data-subscribe novalidate>
						<input name="email" placeholder="Enter Email Address"><button>Sign-Up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>