<div class="marker">
	<a target="_blank"  href="{{ location | googleDirections }}">
    	<span class="name">{{ location.StoreName }}</span><br>
    	<span class="street">{{ location.Street }}</span><br>
    	<span class="city">{{ location.City }}</span>
	</a><br>
    <a class="phone" target="_blank" href="tel:{{ location.PhoneNumber }}">{{ location.PhoneNumber }}</a><br>
	{% if location.StoreURL %}
    	<a target="_blank" href="http://{{ StoreURL }}" class="storeurl">{{ location.StoreURL }}</a>
	{% endif %}
</div>
