<div class="featured-products">
	<div class="bar top-bar">
		<div class="get-sili">GET SILI</div>
		<div class="navi {{ layout.items.productsSlider.classNames }}">
			{% for item in layout.items.productsSlider.content %}
				<a href="{{ item.href }}" ><span>{{ item.text }}</span></a>
			{% endfor %}	
		</div>
	</div>
	<div class="products-slider">
		<a href="#" class="arrow l-arrow"></a>
		<div class="products">
		{% for product in layout.sliderProducts %}
			<a class="product" href="{{ product.productURL }}" data-lightbox>
				<span class="img" style="background-image:url({{ product.images[0] }})"></span>
				<span class="text">
					<span class="text1">{{ product.description[2] | striptags }}</span>
					<span class="text2">{{ product.description[3] | striptags }}</span>
					<span class="text3">{{ product.sizes[0].unitPrice | cur }}</span>
				</span>
			</a>
		{% endfor %}
		</div>
		<a href="#" class="arrow r-arrow"></a>
	</div>
	<div class="bar bottom-bar">
		<div class="get-sili"><img src="//d1niwwqaddyuw4.cloudfront.net/img/get-sili.png"></div>
		<div class="navi">
			{% for item in layout.items.productsSlider.content %}
				<a href="{{ item.href }}" ><span>{{ item.text }}</span></a>
			{% endfor %}	
		</div>
	</div>
</div>