<div class="sub-nav clearfix">
	<div class="sub-nav-bar">
		<i class="fa fa-caret-down down"></i>
		<i class="fa fa-caret-up up"></i>
		<span class="{{ items[navID + 'SubNavLabel'].classNames }}">
			{% if items[navID + 'SubNavLabel'].content %}
				{{ items[navID + 'SubNavLabel'].content }}
			{% else %}
				Navigation
			{% endif %}
		</span>
	</div>
	<div class="sub-list-view">
		<div class="wrap-snap">
			<span class="nav-lbl {{ items[pageID + 'SubNavText2'].classNames }}">{{ items[pageID + 'SubNavText2'].content }}</span>
			{% if items[pageID + 'SubNavText2'].content %}<span class="xtr-space"></span>{% endif %}
			<a class="lv {{ items[pageID + 'SubNavLabel2'].classNames }}">
				{% if items[pageID + 'SubNavLabel2'].content %}
					{{ items[pageID + 'SubNavLabel2'].content }}
				{% else %}
					List View
				{% endif %}
			</a> 
			<div class="ctas {{ items[pageID + 'SubNavCTAS'].classNames }}">
			{% for item in items[pageID + 'SubNavCTAS'].content %}
				<a href="{{ item.href }}">{{ item.text }}</a>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="clearfix nav-items {{ items[navID + 'SubNav'].classNames }}">
		<div class="wrap-snap">
			<a class="close">need x</a>
			<div class="menu clearfix">
			{% for item in items[navID + 'SubNav'].content %}
				<a href="{{ item.href }}">{{ item.text }}</a>
			{% endfor %}
			</div>
		</div>
	</div>
</div>