{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/sili-life.css">
{% endblock %}

{% block content %}

	<div class="clearfix boxes {{ items[pageID + 'Collection'].classNames }}" id="{{ items[pageID + 'Collection'].classNames }}">
		{% if items[pageID + 'Collection'].content %}
			{% for item in items[pageID + 'Collection'].content %}
				<a href="{{ item.href }}" class="box" style="background-image:url({{ item.src }})">
					<span>{{ item.title }}</span>
					<img src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
				</a>
			{% endfor %}
		{% endif %}
	</div>

	{% include "./partials/cups.html" %}
	{% include "./partials/sili-life.html" %}
{% endblock %}

{% block foot %}
	<script src="/js/sili-life.js"></script>
{% endblock %}