{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/account.css">
{% endblock %}

{% block content %}

<div class="h1Wrapper">
	<div>
		<h1>Account</h1>
	</div>
</div>
<div class="wrap-snap page-content">
	<div id="accountContent"><h1>Loading Account Information...</h1></div>
</div>

{% endblock %}

{% block foot %}

<script src="/js/templates.js"></script>
<script src="/js/plugins/nunjucks-slim.min.js"></script>
<script src="/js/nunjucks-filters.js"></script>
<script src="/js/account.js"></script>

{% endblock %}