{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/partials/sili-life.css">
<link rel="stylesheet" href="/css/collection.css">
{% endblock %}

{% block content %}
{% include "./partials/shop-nav.html" %}

<div class="products clearfix">
{% for product in products %}
	<div class="product">
		<div class="img"></div>
		<div class="overlay">
			<div class="line1">Product Name</div>
			<div class="line2">A little blurb about the product</div>
			<div class="price">$0.00</div>
		</div>
	</div>
{% endfor %}
</div>
<div class="page-bar">
	<div class="wrap-snap">
		<div class="next-prev"><a>NEXT</a> <span>|</span> <a>PREV</a></div>
		<div class="pages">
			{% for page in pages %}
				<a href="{{ page.href }}">{{ page.label }}</a>
			{% endfor %}
		</div>
	</div>
</div>

{% include "./partials/cups.html" %}
{% include "./partials/sili-life.html" %}
{% endblock %}

{% block foot %}
<script src="/js/shop.js"></script>
<script src="/js/collection.js"></script>
<script src="/js/partials/sili-life.js"></script>
{% endblock %}