{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/partials/sili-times.css">
<link rel="stylesheet" href="/css/collection.css">
{% endblock %}

{% block content %}
{% include "./partials/sub-nav.html" %}
<div class="products clearfix">
{% for product in products %}
	<a class="product" href="{{ product.productURL }}" data-lightbox>
		<img class="img" style="background-image:url('{{ product.images[0] | safe }}')" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
		<span class="overlay">
			<span class="line1">{{ product.descriptions[2] | safe }}</span>
			<span class="line2">{{ product.descriptions[3] | safe }}</span>
			<span class="price">{{ product.sizes[0].unitPrice | cur }}</span>
		</span>
	</a>
{% endfor %}
</div>
{% if pages.length > 1 %}
<div class="page-bar">
	<div class="wrap-snap">
		<div class="next-prev"> <a data-prev>PREV</a> <span>|</span> <a data-next>NEXT</a></div>
		<div class="pages">
			{% for page in pages %}
				{% if page.isSelected %}
					<a href="{{ page.href }}" data-selected>{{ page.label }}</a>
				{% else %}
					<a href="{{ page.href }}">{{ page.label }}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}

{% include "./partials/yellow-box.html" %}
{% include "./partials/sili-times.html" %}
{% endblock %}

{% block foot %}
<script>hubsoft.productURLs = {{ productURLs | stringify | safe }};</script>
<script src="/js/plugins/async.js"></script>
<script src="/js/shop.js"></script>
<script src="/js/collection.js"></script>
<script src="/js/partials/sili-times.js"></script>
{% endblock %}