{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/content.css">
	<link rel="stylesheet" href="/css/partials/sili-times.css">
{% endblock %}

{% block content %}
	<div class="wrap-snap content">
		<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content | safe }}</h1>
		<div class="{{ items[pageID + 'Description'].classNames }}">
			{{ items[pageID + 'Description'].content | safe }}
		</div>
	</div>
	<div class="clearfix"></div>
	{% include "./partials/sili-times.html" %}
{% endblock %}

{% block foot %}
	<script src="/js/partials/sili-times.js"></script>
{% endblock %}