{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/product-detail.css" data-lightbox>
{% endblock %}

{% block content %}
<div class="wrap-snap">
	<div class="product-detail" data-lightbox>
		<div class="section1 sl">
			<img class="main" src="{{ product.images[0] }}">
			<div class="thumbs">
				{% for img in product.images %}
					{% if img %}
						<a class="thumb" style="background-image:url('{{ img }}')"></a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="section2 sr">
			<h1>{{ product.descriptions[2] | striptags }}</h1>
			<h2>{{ product.descriptions[3] | striptags }}</h2>	
			<div>{{ product.descriptions[0] | striptags }}</div>
		</div>
		<div class="section3 sr">
			<div class="bg" data-container>
				{% if product.sizes and product.sizes.length %}
					{% if product.sizes[0].unitPrice < product.sizes[0].msrp %}
						<span class="msrp">{{ product.sizes[0].msrp | cur }}</span>
						<span class="sale">On Sale</span>
					{% endif %}
					<span class="unitprice">{{ product.sizes[0].unitPrice | cur }}</span>
					{% if product.inStock %}
						<span class="stock">In Stock</span>
					{% else %}
						<span class="stock out-of-stock">Out of Stock</span>
					{% endif %}
				{% endif %}		
				<div class="row-spacer"></div>		
				<span class="lbl">Quantity</span>
				<input name="qty" data-quantifier value="1">
				<button data-add-to-cart data-sku="{{ product.sizes[0].sku }}">add to cart</button>
				<div class="status" data-status></div>
				<div class="row-spacer"></div>	
				<span class="lbl">Colors</span>
				<div class="colors"></div>
			</div>
		</div>
		<div class="section4 sr">
			<span class="lbl">Share</span>
			<iframe src="//www.facebook.com/plugins/like.php?href={{ product.productURL | urlencode }}&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=65&amp;appId=632600213433235" 
				scrolling="no" frameborder="0" class="facebook-share" allowTransparency="true"></iframe>
			<iframe class="twitter-share" allowtransparency="true" frameborder="0" scrolling="no"
				src="https://platform.twitter.com/widgets/tweet_button.html?url={{ product.productURL | urlencode }}"></iframe>	
			<a class="pinit" href="http://pinterest.com/pin/create/button/?url={{ product.productURL | urlencode }}&amp;media={{ product.images[0] | urlencode }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>				
			<div class="row-spacer"></div>
			<a target="_blank" href="mailto:?subject=check+out+{{ '"' + product.descriptions[2] + ', ' + product.descriptions[3] + '"' | striptags | urlencode }}+from+Silipint&amp;body={{ product.productURL | urlencode }}">Email a Friend</a>
		</div>
		<div class="section6 product-tabs sr">
			<div class="top-tabs clearfix">
				<a class="selected" data-index="0">Details</a>
				<a data-index="1">Specifications</a>
				<a data-index="2">Other</a>
			</div>
			<div class="tab-content-container">
				<div class="tab-content" style="display:block">
					{{ product.descriptions[4] | safe }}
				</div>
				<div class="tab-content">
					{{ product.descriptions[5] | safe }}
				</div>
				<div class="tab-content">
					{{ product.descriptions[6] | safe }}
				</div>
			</div>
		</div>
		<div class="section7 sl">
			<div class="title">SIMILAR</div>
			{% for item in product.relatedProducts %}
			
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block foot %}
	<script src="/js/product-detail.js" data-lightbox></script>
{% endblock %}