{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/products-slider.css">
{% endblock %}

{% block content %}
<div class="promo">
	<img src="//d1niwwqaddyuw4.cloudfront.net/img/home-hero-color-me-sili.jpg">
</div>
<div class="unbreakable-bar">
	<div class="text">Welcome to Silipint. Unbreakable Silicon Drinkwear that's tons of fun.</div>
	<div class="arrow"></div>
</div>
<div class="featured-products">
	<div class="bar top-bar">
		<div class="get-sili"><img src="//d1niwwqaddyuw4.cloudfront.net/img/get-sili.png"></div>
		<div class="navi">
			<a href="#" class="l"><span>PINTS</span></a>
			<a href="#" class="checker"><span>HALFPINTS</span></a>
			<a href="#"><span>SHORTYS</span></a>
			<a href="#" class="checker"><span>SHOTS</span></a>
			<a href="#" class="l checker"><span>LIDS</span></a>
			<a href="#"><span>SETS</a>
			<a href="#" class="artist checker"><span>ARTISTS SERIES</span></a>	
			<a href="#"><span>SALE</span></a>		
		</div>
	</div>
	{% include "./partials/products-slider.html" %}
	<div class="bar bottom-bar">
		<div class="get-sili"><img src="//d1niwwqaddyuw4.cloudfront.net/img/get-sili.png"></div>
		<div class="navi">
			<a href="#"><span>PINTS</span></a>
			<a href="#" class="checker"><span>HALFPINTS</span></a>
			<a href="#"><span>SHORTYS</span></a>
			<a href="#" class="checker"><span>SHOTS</span></a>
			<a href="#" class="checker"><span>LIDS</span></a>
			<a href="#"><span>SETS</a>
			<a href="#" class="artist checker"><span>ARTISTS SERIES</span></a>	
			<a href="#"><span>SALE</span></a>		
		</div>
	</div>
</div>
<div class="boxes1 clearfix">
	<div class="box box1">
		<div class="img"><img src="//d1niwwqaddyuw4.cloudfront.net/img/square.png"></div>
		<div class="text"></div>
	</div>
	<div class="box box2">
		<div class="img"><img src="//d1niwwqaddyuw4.cloudfront.net/img/square.png"></div>
		<div class="text"></div>
	</div>
	<div class="box box3">
		<div class="img"><img src="//d1niwwqaddyuw4.cloudfront.net/img/square.png"></div>
		<div class="text"></div>
	</div>
</div>
{% include "./partials/cups.html" %}
{% include "./partials/sili-life.html" %}
{% endblock %}

{% block foot %}
<script src="/js/home.js"></script>
<script src="/js/products-slider.js"></script>
{% endblock %}