{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
<div class="promo">
	<img src="//d1niwwqaddyuw4.cloudfront.net/img/home-hero-color-me-sili.jpg">
</div>
<div class="unbreakable-bar">
	<div class="text">Welcome to Silipint. Unbreakable Silicon Drinkwear that's tons of fun.</div>
	<div class="arrow"></div>
</div>
<div class="featured-products">
	<div class="bar top-bar">
		<div class="get-sili"><img src="//d1niwwqaddyuw4.cloudfront.net/img/get-sili.png"></div>
		<div class="navi">
			<a href="#" class="l"><span>PINTS</span></a>
			<a href="#" class="checker"><span>HALFPINTS</span></a>
			<a href="#"><span>SHORTYS</span></a>
			<a href="#" class="checker"><span>SHOTS</span></a>
			<a href="#" class="l checker"><span>LIDS</span></a>
			<a href="#"><span>SETS</a>
			<a href="#" class="artist checker"><span>ARTISTS SERIES</span></a>	
			<a href="#"><span>SALE</span></a>		
		</div>
	</div>
	<div class="products-slider">
		<div class="arrow-back l-arrow-back">
			<a href="#" class="arrow l-arrow"></a>
		</div>
		<div class="products">
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
			<div class="product">
				<div class="img"></div>
				<div class="text">
					<div class="text1">9 oz. SHORTY</div>
					<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
					<div class="text3">$9.95</div>
				</div>
			</div>
		</div>
		<div class="arrow-back r-arrow-back">
			<a href="#" class="arrow r-arrow"></a>
		</div>
	</div>
	<div class="bar bottom-bar">
		<div class="get-sili"><img src="//d1niwwqaddyuw4.cloudfront.net/img/get-sili.png"></div>
		<div class="navi">
			<a href="#"><span>PINTS</span></a>
			<a href="#" class="checker"><span>HALFPINTS</span></a>
			<a href="#"><span>SHORTYS</span></a>
			<a href="#" class="checker"><span>SHOTS</span></a>
			<a href="#" class="checker"><span>LIDS</span></a>
			<a href="#"><span>SETS</a>
			<a href="#" class="artist checker"><span>ARTISTS SERIES</span></a>	
			<a href="#"><span>SALE</span></a>		
		</div>
	</div>
</div>
<div class="boxes">
	
</div>
<div class="cups">
	
</div>
<div class="sili-times">
	<div class="bar">
		
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/js/home.js"></script>
{% endblock %}