{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/home.css">
{% endblock %}

{% block content %}
<div class="promo">
	<img src="//d1niwwqaddyuw4.cloudfront.net/img/home-hero-color-me-sili.jpg">
	<div class="bar">
		<div class="text">Welcome to Silipint. Unbreakable Silicon Drinkwear that's tons of fun.</div>
		<div class="arrow"></div>
	</div>
</div>
<div class="featured-products">
	<div class="bar">
		<div class="get-sili"></div>
		<div class="navi">
			<a href="#">PINTS</a>
			<a href="#">HALFPINTS</a>
			<a href="#">SHORTYS</a>
			<a href="#">SHOTS</a>
			<a href="#">LIDS</a>
			<a href="#">SETS</a>
			<a href="#">ARTISTS SERIES</a>			
		</div>
	</div>
	<div class="products-slider">
		<a href="#" class="l-arrow"></a>
		<div class="product">
			
		</div>
		<div class="product">
			
		</div>
		<div class="product">
			
		</div>
		<div class="product">
			
		</div>
		<a href="#" class="r-arrow"></a>
	</div>
</div>
<div class="boxes">
	
</div>
<div class="cups">
	
</div>
<div class="sili-times">
	<div class="bar">
		
	</div>
</div>
{% endblock %}

{% block foot %}
<script src="/js/home.js"></script>
{% endblock %}