{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/partials/products-slider.css">
	<link rel="stylesheet" href="/css/partials/sili-times.css">
	<link rel="stylesheet" href="/css/landing.css">
{% endblock %}

{% block content %}
	{% include "./partials/sub-nav.html" %}
	<div class="clearfix sili-boxes {{ items[pageID + 'Collection'].classNames }}">
	{% for item in items[pageID + 'Collection'].content %}
		<a href="{{ item.url }}" {{ lightbox }} class="clearfix" style="background-image:url('{{ item.imageURL }}')">
			<img class="back" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<span class="under-text"><span style="background-color:#{{ item.backgroundColor }}"><i class="fa fa-caret-left" style="color:#{{ item.backgroundColor }}"></i>{{ item.title }}<i class="fa fa-caret-right"  style="color:#{{ item.backgroundColor }}"></i></span></span>
			<img class="front" style="background-color:#{{ item.backgroundColor }}" 
			src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<span class="over-text"><span>{{ item.title | safe }}</span></span>
		</a>
	{% endfor %}
	</div>
	<div class="clearfix"></div>
	{% include "./partials/yellow-box.html" %}
	{% include "./partials/products-slider.html" %}
	{% include "./partials/sili-times.html" %}
{% endblock %}

{% block foot %}
	<script src="/js/partials/products-slider.js"></script>
	<script src="/js/partials/sili-times.js"></script>
	<script src="/js/listing.js"></script>
{% endblock %}