<!DOCTYPE html>
<html>
    <head>
		<title>{{ seo.title }}</title>
		<meta name="description" content="{{ seo.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
        <link href="/css/main.css" rel="stylesheet">
		<meta name="kitgui-page-id" content="{{ pageID }}">
		<meta name="robots" content="noindex, nofollow">
	    <!--
	    Designed, programmed, hosted and maintained by
	     _____                   _   _    _____       _
	    |   __|_____ ___ ___ ___| |_| |  |     |___ _| |___         ___ ___ _____
	    |   __|     | -_|  _| .'| | . |  |   --| . | . | -_|   _   |  _| . |     |
	    |_____|_|_|_|___|_| |__,|_|___|  |_____|___|___|___|  |_|  |___|___|_|_|_|
	    
		Kitgui.com CMS allows for complicated custom designs but easy client editing
		and works in all server-side technologies.
		
		Design direction and art by Corin McDonald at Partnership Studio.
		-->
		{% block head %}

		{% endblock %}
    </head>
    <body>
		<div id="bodyWrapper">
			<div id="headerWrapper">
				<div id="headerMobile">
					<a href="/" class="cart-indicator"> <span class="badge">0</span></a>
					<a id="toggleMobileMenu"><i class="fa fa-bars"></i></a>
				</div>
				<div id="pushUpMenu">
					<div class="set-height">
						<a class="close"></a>
						<div class="wrap-snap">
							<div class="row">
								<div class="col-xs-3">
									<div class="menu-column">
										<div class="header"><span>Products</span></div>
										<a href="/pint-glasses"><span>Pints</span></a>
										<a href="/half-pints"><span>Half-Pints</span></a>
										<a href="/shorty-cups"><span>Shorty's</span></a>
										<a href="/shot-glasses"><span>Shots</span></a>
										<a href="/lids"><span>Lids</span></a>
										<a href="/silipint-sets"><span>Sets</span></a>
										<a href="/gif-cards"><span>Gift Cards</span></a>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="menu-column">
										<div class="header"><span>Accounts</span></div>
										<a href="/account"><span>Sign-in</span></a>
										<a href="/account"><span>Sign-up</span></a>
										<a href="https://silipint.hubsoft.com"><span>Rep Login</span></a>
										<a href="https://silipint.hubsoft.com"><span>Pay Invoice</span></a>
										<a href="/account"><span>VIP</span></a>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="menu-column">
										<div class="header"><span>Resources</span></div>
										<a href="/about"><span>About Silipint</span></a>
										<a href="/faq"><span>FAQ's</span></a>
										<a href="/find-a-retailer"><span>Find a Retailer</span></a>
									</div>
								</div>
								<div class="col-xs-3">
									<div class="menu-column">
										<div class="header"><span>Contact</span></div>
										<a href="tel:5416785044"><span>Tel: (541) 678-5044</span></a>
										<a href="#"><span>Map It</span></a>
										<br>
										<a href="#"><span>
											Centry Center Bend<br>
											Suite #130<br>
											Bend, OR 97702
										</span></a>
									</div>
								</div>
							</div>
							<div class="save-more">
								<div class="save-more-left"></div>
								<div class="save-more-middle"><span>FREE SHIPPING ON ALL ORDERS OVER $50</span></div>
								<div class="save-more-right"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="wrap-snap">
					<div id="header">
						<div class="blob"></div>
						<a href="/" class="logo"></a>
						<div class="life-better-sili">life is better sili.</div>
						<div class="menu">
							<div class="menu1">
								<a href="/shop-sillipint-drinking-glasses">SHOP</a>
								<a href="/sili-life">SILI-LIFE</a>
								<a href="/customize">CUSTOMIZE</a>
							</div>
							<div class="menu2">
								<a class="more-sili">
									<i class="fa fa-plus"></i><i class="fa fa-minus"></i> 
									<span class="more">MORE</span><span class="less">LESS</span> SILI</a>
								<a href="/cart" class="cart-indicator"> <span class="badge">0</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="contentWrapper">
			{% block content %}
				
			{% endblock %}
			</div>
		</div>
		<div id="mobileMenu">
			<a href="#" class="close"><i></i></a>
			<div class="nav">
				<div class="header"><span>Shop</span></div>
				<div class="row">
					<div class="col-xs-6"><a href="/pint-glasses"><span>PINTS</span></a></div>
					<div class="col-xs-6"><a href="/new-silipint-products"><span>NEW ITEMS</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><a href="/half-pints"><span>HALF-PINTS</span></a></div>
					<div class="col-xs-6"><a href="/artist-series"><span>ARTISTS SERIES</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><a href="/shorty-cups"><span>SHORTY'S</span></a></div>
					<div class="col-xs-6"><a href="/lids"><span>LIDS</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><a href="/shot-glasses"><span>SHOTS</span></a></div>
					<div class="col-xs-6"><a href="/silipint-sets"><span>SETS</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6">&nbsp;</div>
					<div class="col-xs-6"><a href="/sale"><span>SALE</span></a></div>
				</div>
				<div class="header"><span>SILI-LIFE</span></div>
				<div class="row">
					<div class="col-xs-6"><a href="/sili-users"><span>SILI-USES</span></a></div>
					<div class="col-xs-6"><a href="/sili-isms"><span>SILI-ISMS</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><a href="/artist-series"><span>ARTISTS SERIES</span></a></div>
					<div class="col-xs-6"><a href="/videos"><span>VIDEOS</span></a></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><a href="/sili-ambassadors"><span>SILI-AMBASSADORS</span></a></div>
					<div class="col-xs-6"><a href="/news-press"><span>NEWS &amp; PRESS</span></a></div>
				</div>
				<div class="header"><span>CUSTOMIZE</span></div>
				<div class="header"><span>Accounts</span></div>
				<a href="/account"><span>Sign-in</span></a>
				<a href="/account"><span>Sign-up</span></a>
				<a href="https://sililife.hubsoft.com"><span>Rep Login</span></a>
				<a href="https://sililife.hubsoft.com"><span>Pay Invoice</span></a>
				<a href="/account"><span>VIP</span></a>
				<div class="header"><span>Resources</span></div>
				<a href="/gift-cards"><span>Gift Cards</span></a>
				<a href="/about"><span>About Silipint</span></a>
				<a href="/faq"><span>FAQ's</span></a>
				<a href="/find-a-retailer"><span>Find a Retailer</span></a>
				<div class="header"><span>Contact</span></div>
				<a href="tel:5416785044"><span>Tel: (541) 678-5044</span></a>
				<a>&nbsp;</a>
				<a href="#"><span>Map It</span></a>
				<a href="#"><span>
					Centry Center Bend<br>
					Suite #130<br>
					Bend, OR 97702
				</span></a>
			</div>
		</div>
		<div id="stickyFooter">
			<div class="wrap-snap">
				<form>
					<input placeholder="Enter your email for sales and other sili promotions.">
					<button>SIGN-UP</button>
				</form>
				<div class="copyright">&copy; <span id="copyrightYear"></span> Silipint. All Rights Reserved</div>
				<div class="social">
					<a class="fb" href="http://www.facebook.com/silipint"></a>
					<a class="pt" href="http://www.pintrest.com/silipint"></a>
					<a class="dr" href="http://www.dribble.com/silipint"></a>
					<a class="tw" href="http://www.twitter.com/silipint"></a>
					<a class="ut" href="http://www.youtube.com/silipint"></a>
				</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="//api.hubsoft.ws/@js"></script>
		<script src="/js/jquery.transit.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/js/plugins/history.js"></script>
		<script src="/js/plugins/nunjucks-slim.min.js"></script>
		<script src="/js/templates.js"></script>
		<script src="/js/nunjucks-filters.js"></script>
		<script src="/js/main.js"></script>
        {% block foot %}

		{% endblock %}
		<script> var kitgui = { key: '{{ kitguiAccountKey }}', tabVisible: true }; </script>
		<script src="/kitgui/js/kitgui.js"></script>
    </body>
</html>