<!DOCTYPE html>
<html>
    <head>
		<title>{{seo.title}}</title>
		<meta name="description" content="{{seo.description}}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
		<meta name="kitgui-page-id" content="{{ kitguiPageID }}">
		<meta name="robots" content="noindex, nofollow">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		{% block head %}

		{% endblock %}
    </head>
    <body>
		<div class="dev-env">
			Development Environment
		</div>
		<div id="header">
			<a href="/" class="logo"></a>
			<div class="menu1">
				<a href="#/shop">SHOP</a>
				<a href="#/sili-life">SILI-LIFE</a>
				<a href="#/customize">CUSTOMIZE</a>
			</div>
			<div class="menu2">
				<a class="more-sili">MORE SILI</a>
				<a class="cart-indicator"><i class="fa fa-shopping-cart"></i> <span class="badge">2</span></a>
			</div>
		</div>
		{% block content %}
				
		{% endblock %}
        {% block foot %}

		{% endblock %}
    </body>
</html>