{% extends 'layout.html' %}

{% block head %}
	<link rel="stylesheet" href="/css/listing.css">
	<link rel="stylesheet" href="/css/landing.css">
	<link rel="stylesheet" href="/css/lightbox2.css" data-lightbox>
{% endblock %}

{% block content %}
	<div class="shop-nav clearfix">
		<div class="shop-nav-bar">
			<i class="fa fa-caret-down down"></i>
			<i class="fa fa-caret-up up"></i>
			<span class="{{ items[navID + 'SubNavLabel'].classNames }}">
				{% if items[navID + 'SubNavLabel'].content %}
					{{ items[navID + 'SubNavLabel'].content }}
				{% else %}
					Navigation
				{% endif %}
			</span>
		</div>
		<div class="clearfix nav-items {{ items[navID + 'SubNav'].classNames }}">
			{% for item in items[navID + 'SubNav'].content %}
				<a href="{{ item.href }}">{{ item.text }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="lb2" data-lightbox>
		<div class="wrap-snap">
			<h1 class="{{ items[pageID + 'Title'].classNames }}">{{ items[pageID + 'Title'].content | safe }}</h1>
			<div class="html {{ items[pageID + 'HTML1'].classNames }}">{{ items[pageID + 'HTML1'].content | safe }}</div>
			<div class="social-icons">
				<iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?url={{ path | urlencode }}" style="width:130px; height:20px;"></iframe>
				<iframe src="//www.facebook.com/plugins/like.php?href={{ path | urlencode }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=232223003621871" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
				{% if items[pageID + 'Images'].content and  items[pageID + 'Images'].content.length > 0 %}
					<a href="http://www.pinterest.com/pin/create/button/?url={{ path | urlencode }}&amp;media={{ items[pageID + 'Images'].content[0].src }}&amp;description=Next%20stop%3A%20Pinterest"
				        data-pin-do="buttonPin"
				        data-pin-config="above">
				        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
				    </a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block foot %}
	<script src="/js/listing.js"></script>
{% endblock %}