{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/partials/sili-times.css">
{% endblock %}

{% block content %}

<div class="shop-nav clearfix">
	<div class="shop-nav-bar">
		<i class="fa fa-caret-down down"></i>
		<i class="fa fa-caret-up up"></i>
		<span class="{{ items[navID + 'SubNavLabel'].classNames }}">
			{% if items[navID + 'SubNavLabel'].content %}
				{{ items[navID + 'SubNavLabel'].content }}
			{% else %}
				Navigation
			{% endif %}
		</span>
	</div>
	<div class="clearfix nav-items {{ items[navID + 'SubNav'].classNames }}">
		{% for item in items[navID + 'SubNav'].content %}
			<a href="{{ item.href }}">{{ item.text }}</a>
		{% endfor %}
	</div>
</div>
<div class="showcase clearfix {{ items[pageID + 'Collection'].classNames }}">
	{% for item in items[pageID + 'Collection'].content %}
		<a href="{{ item.href }}" class="item">
			<img class="back" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<img class="img2" style="background-image:url('{{ item.src2 | safe }}')" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<img class="img" style="background-image:url('{{ item.src | safe }}')" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<span class="text">{{ item.alt }}</span>
		</a>
	{% endfor %}
</div>

{% include "./partials/cups.html" %}
{% include "./partials/sili-times.html" %}
{% endblock %}

{% block foot %}
<script src="/js/partials/sili-times.js"></script>
<script src="/js/shop.js"></script>
{% endblock %}