{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="/css/shop.css">
<link rel="stylesheet" href="/css/partials/sili-times.css">
{% endblock %}

{% block content %}

{% include "./partials/sub-nav.html" %}

<div class="showcase clearfix {{ items[pageID + 'Collection'].classNames }}">
	{% for item in items[pageID + 'Collection'].content %}
		<a href="{{ item.href }}" class="item">
			<img class="back" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<img class="img2" style="background-image:url('{{ item.src2 | safe }}')" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<img class="img" style="background-image:url('{{ item.src | safe }}')" src="//d1niwwqaddyuw4.cloudfront.net/img/sili-life-transparent.gif">
			<span class="text">{{ item.alt }}</span>
		</a>
	{% endfor %}
</div>

{% include "./partials/yellow-box.html" %}
{% include "./partials/sili-times.html" %}
{% endblock %}

{% block foot %}
<script src="/js/partials/sili-times.js"></script>
<script src="/js/shop.js"></script>
{% endblock %}