{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="h1Wrapper">
	<div class="wrap-snap">
		<h1>Account Login</h1>
	</div>
</div>
<div class="wrap-snap page-content">
	<form class="form-horizontal sign-in-form" role="form" novalidate>
	  <div class="form-group">
	    <label for="email" class="col-sm-2 control-label">Email</label>
	    <div class="col-sm-5">
	      <input type="email" required class="form-control" id="email" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="password" class="col-sm-2 control-label">Password</label>
	    <div class="col-sm-5">
	      <input type="password" required class="form-control" id="password" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-5">
			<a href="/forgot-password" rel="nofollow,noindex">forgot password?</a>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-5">
			<div class="alert alert-danger" style="display:none"></div>
			<button type="submit" class="btn btn-warning">Sign in</button>
	    </div>
	  </div>
	</form>
</div>
{% endblock %}

{% block foot %}
	<script src="/js/sign-in.js"></script>
{% endblock %}