h1 {
	margin-top:60px;
}
.back-to-shopping {
	text-align:center;
}
.need-help {
	text-align:center;
	margin:0 auto 40px auto;
}
@media (max-width:768px) {
    h1 {
        margin-top: 20px;
    }
}
.back-to-products {
    text-align:center;
    font-size:20px;
	margin-top:-10px;
	margin-bottom:10px;
}
#no-items {
    text-align:center;
    padding:150px 0;
}
#cartList {
    padding-top:10px;
	padding-bottom:40px;
}
#cart {
    margin:0 auto;
    margin-top:0;
}
#cart .product-start td {
    font-size:18px;
}
    #cart .product-end td {
        padding-bottom:40px;
    }
#cart td {
    vertical-align:middle;
}
.cart-image {
    max-width:100px;

    height:auto;
}
td.trash,td.inline-subtotal,td.subtotal, td.checkout {
    text-align:right;
}
td.trash {
    padding-right:10px;
}
tr.subtotal td {
	background-color:#FFBA12;
	color:#000;
}
input.qty {
	width:30px;
	padding:5px;
	border:1px solid #999;
	font-size:14px;
	text-align:center;
	display:inline-block;
	margin-left:3px;
}
button.btn-close {
	color:#000;
	border:none;
	background-color:transparent;
}
button.checkout.btn {
	color:#FFBA12;
	background-color:#000;
	text-transform:uppercase;
	border-radius:0;
}
@media (max-width:320px) {
    .back-to-products {
        margin-top:20px;
    }
}
td.coupon {
	text-align:right;
}
td.coupon input.form-control {
	display:inline-block;
	width:80px;
	vertical-align:middle;
	border-radius:0;
}
.coupon button.btn {
	background-color:#FFBA12;
}
td.checkout {
	position:relative;
}
tr.checkout-tr td {
	background-color:#fff !important;
}
input.error {
	border:1px solid #f00;
	color:#f00;
}
#couponModal .modal-body {
	font-size:20px;
	text-align:center;
}
#couponModal .modal-body p.error {
	color:#f00;
}