.products {
	
}
.products .product {
	float:left;
	width:25%;
	height:250px;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	position:relative;
	cursor:pointer;
}
.products .product .overlay {
	display:none;
}
.products .product:hover .overlay {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	display:block;
	color:#FFBA11;
}
.products .product .overlay div {
	text-align:center;
	font-size:14px;
}
.products .product .overlay div.line1 {
	padding-top:80px;
}
.products .product .overlay div.price {
	margin-top:10px;
}
.page-bar {
	background-color:#555;
	color:#fff;
}
.page-bar .wrap-snap {
	padding:15px;
}
.page-bar .next-prev {
	display:inline-block;
	margin-right:50px;
}
.page-bar .pages {
	display:inline-block;
}
.page-bar .pages a {
	display:inline-block;
	margin:0 5px;
}
.page-bar a {
	color:#fff;
}
.page-bar a.selected {
	color:#FFBA11;
}