.products {
	margin-right:-1px;
	margin-bottom:-1px;
	overflow:hidden;
}
.products .product {
	float:left;
	width:25%;
	border-right:1px solid #555;
	border-bottom:1px solid #555;
	position:relative;
	cursor:pointer;
	text-decoration:none;
	display:block;
}
@media (max-width:768px) {
	.products .product {
		width:33.3%;
	}
}
@media (max-width:480px) {
	.products .product {
		width:100%;
	}
}
.products .product .img {
	width:100%;
	height:auto;
	background-size:contain;
	background-position:center center;
	background-repeat:no-repeat;
}
.products .product .overlay {
	display:none;
}
.products .product:hover .overlay {
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	display:block;
	color:#FFBA11;
	position:absolute;
	left:0;
	top:0;
}
.products .product .overlay span {
	text-align:center;
	font-size:14px;
	display:block;
}
.products .product .overlay span.line1 {
	padding-top:20%;
}
.products .product .overlay span.price {
	margin-top:10px;
}
.page-bar {
	background-color:#555;
	color:#fff;
}
.page-bar .wrap-snap {
	padding:15px;
}
.page-bar .next-prev {
	display:inline-block;
	margin-right:50px;
}
.page-bar .pages {
	display:inline-block;
}
.page-bar .pages a {
	display:inline-block;
	margin:0 5px;
}
.page-bar a {
	color:#fff;
}
.page-bar a.selected {
	color:#FFBA11;
}