.promo {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/home-hero-color-me-sili.jpg);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	position:relative;
	box-shadow:0 1px 5px #333;
	min-height:250px;
}
.promo img {
	width:100%;
	height:auto;
}
@media (max-width:684px) {
	.promo img { display:none; }
}
.unbreakable-bar {
	width:100%;
	height:102px;
	background-color:rgba(0,0,0,0.5);
	padding-right:150px;
	position:relative;
	top:-102px;
	margin-bottom:-102px;
}
.unbreakable-bar .text {
	color:#fff;
	text-transform:uppercase;
	text-align:right;
	font-weight:600;
	position:relative;
	top:40px;
	font-size:15px;
}
.unbreakable-bar .arrow {
	width:90px;
	height:102px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/stick-arrow.png);
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}
@media (max-width:768px) {
	.promo .bar {
		height:auto;
		padding-right:10px;
		padding-left:10px;
	}
	.promo .bar .text {
		padding:10px;
		top:auto;
		font-weight:normal;
		font-size:12px;
		text-align:left;
	}
	.promo .bar .arrow {
		display:none;
	}
}
.boxes1 {
	background-color:#00aeef;
	margin-left:-1px;
	margin-right:-1px;
}
.boxes1 .box {
	width:33.33333%;
	float:left;
	border-left:1px solid #fff;
}
.boxes1 .box .img {
	height:auto;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.boxes1 .box .img img {
	width:100%;
	height:auto;
}
.boxes1 .box .text {
	height:102px;
	border-top:1px solid #fff;
	color:#fff;
	font-size:20px;
	text-align:right;
	padding-top:30px;
	padding-right:30px;
}
.carousel-caption {
	padding-bottom:0;
	left:auto;
	font-size:20px;
	right:20%;
	bottom:30px;
	color:#efefef;
}
.carousel-indicators {
	left:auto;
	right:10%;
	width:auto;
	text-align:left;
	bottom:23px;
}
.carousel-indicators li {
	width:7px; height:7px;
	border-radius:7px;
}
.carousel-indicators li.active {
	background-color:#ffba11;
	border-color:#ffba11;
	width:7px; height:7px;
	border-radius:7px;
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img { width:100%;max-width:auto; }
@media (max-width:768px) {
	.unbreakable-bar {
		width:100%;
		height:auto;
		background-color:#EAEAEC;
		padding-right:0;
		top:auto;
		margin-bottom:0;
		border-bottom:2px solid #ccc;
		margin-top:-20px;
	}
	.unbreakable-bar .text {
		color:#777;
		font-weight:200;
		position:relative;
		top:0;
		font-size:18px;
		padding:50px 20px;
		text-align:center;
		text-transform:inherit;
	}
	.unbreakable-bar .arrow {
		display:none;
	}
}
@media (max-width:768px) {
	.boxes1 .box {
		width:100%;
		border-left:none;
		border-right:none;
	}
}