.promo {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/home-hero-color-me-sili.jpg);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	position:relative;
	box-shadow:0 1px 5px #333;
	min-height:250px;
}
.promo img {
	width:100%;
	height:auto;
}
@media (max-width:684px) {
	.promo img { display:none; }
}
.unbreakable-bar {
	width:100%;
	height:102px;
	background-color:rgba(0,0,0,0.5);
	padding-right:150px;
	position:relative;
	top:-102px;
	margin-bottom:-102px;
}
.unbreakable-bar .text {
	color:#fff;
	text-transform:uppercase;
	text-align:right;
	font-weight:600;
	position:relative;
	top:40px;
	font-size:15px;
}
.unbreakable-bar .arrow {
	width:90px;
	height:102px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/stick-arrow.png);
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}
@media (max-width:768px) {
	.promo .bar {
		height:auto;
		padding-right:10px;
		padding-left:10px;
	}
	.promo .bar .text {
		padding:10px;
		top:auto;
		font-weight:normal;
		font-size:12px;
		text-align:left;
	}
	.promo .bar .arrow {
		display:none;
	}
}
.featured-products {}
.featured-products .bar {
	height:62px;
	font-size:0;
}
.featured-products .bar .get-sili {
	width:30%;
	height:62px;
	text-align:right;
	float:left;
	padding-left:-20px;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #cccccc 29%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(29%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.featured-products .bar .get-sili img {
	margin-right:20px;
	margin-top:15px;
	width:100%;
	max-width:100px;
	height:auto;
}
.featured-products .bar .navi {
	width:70%;
	height:62px;
	text-align:left;
	padding-left:20px;
	white-space:nowrap;
	overflow:hidden;
	float:left;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #ffffff 29%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(29%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
@media (max-width:1060px) {
	.featured-products .bar .get-sili {
		width:20%;
	}
	.featured-products .bar .navi {
		width:80%;
	}
}
.featured-products .bottom-bar {
	display:none;
}
.featured-products .bar .navi a {
	display:inline-block;
	padding:0 20px;
	font-size:14px;
	position:relative;
	top:22px;
	color:#999;
}
.featured-products .products-slider {
	height:535px;
	background-color:#fff;
	position:relative;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
	font-size:0;
}
.featured-products .products-slider .products {
	width:100%;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
	margin:0 auto;
}
.featured-products .products-slider .product {
	height:535px;
	width:292px;
	display:inline-block;
}
.featured-products .products-slider .product .img {
	width:90%;
	height:300px;
	background-color:#efefef;
	margin:0 auto;
	margin-top:90px;
	background-position:center center;
	background-repeat:no-repeat;
	font-size:50px;
	text-align:center;
	line-height:100px;
}
.featured-products .products-slider .product .text {
	text-align:center;
	color:#555;
	font-weight:400;
	font-size:14px;
	line-height:18px;
	margin-top:20px;
}
.featured-products .products-slider .product .text1 { margin-bottom:5px; }
.featured-products .products-slider .product .text2 { margin-bottom:5px; }
.featured-products .products-slider .product .text3 { font-weight:300; color:#777; }
.featured-products .products-slider .l-arrow-back,
.featured-products .products-slider .r-arrow-back {
	width:80px;
	height:535px;
	position:absolute;
	top:0;
	cursor:pointer;
	z-index:1;
}
.featured-products .products-slider .arrow {
	background-repeat:no-repeat;
	background-position:center center;
	width:80px;
	height:535px;
	display:block;
	text-decoration:none;
	border:none;
	outline: none;
	color:#ccc;
	font-size:100px;
	opacity:0.5;
	top:170px;
	position:absolute;
	background-color:transparent;
	cursor:pointer;
}
.featured-products .products-slider .arrow::-moz-focus-inner {
	border:0;
}
.featured-products .products-slider .l-arrow-back {
	left:0;
}
.featured-products .products-slider .l-arrow {
	/*background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/carousel-left.png?v1);*/
}
.featured-products .products-slider .r-arrow-back {
	right:0;
}
.featured-products .products-slider .r-arrow {
	/*background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/carousel-right.png?v1);*/
}
.boxes {
	background-color:#00aeef;
}
.boxes .box {
	width:33.33333%;
	float:left;
}
.boxes .box .img img {
	height:auto;
	width:100%;
	background-color:#ccc;
	border-right:1px solid #fff;
}
.boxes .box .text {
	height:102px;
	border-top:1px solid #fff;
}
.boxes .box.box1 .text {
	background-color:#00aeef;
}
.boxes .box.box2 .text {
	background-color:#73c702;
}
.boxes .box.box3 .text {
	background-color:#0054a6;
}
@media (max-width:768px) {
	.boxes .box {
		height:406px;
		width:100%%;
		float:left;
	}
}
.cups {
	background-color:#ffba11;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.cups .wrap-snap {
	padding:0 40px;
}
.cups .text1 {
	margin:92px auto 62px auto;
	color:#fff;
	font-size:14px;
}
.cups .img {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/large-cups.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:228px;
}
.cups .text2 {
	margin:70px auto 80px auto;
	max-width:1026px;
	font-size:0;
}
.cups .text2 .l {
	height:76px;
	color:#fff;
	font-size:14px;
	white-space:nowrap;
	padding-right:40px;
}
.cups .text2 .l .flourish {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/newsletter-flurry.png);
	background-position:left center;
	background-repeat:no-repeat;
	width:102px;
	height:76px;
	vertical-align:middle;
	display:inline-block;
}
.cups .text2 .l .words {
	vertical-align:middle;
	display:inline-block;
	font-size:14px;
	font-weight:400;
	white-space:normal;
	padding-right:20px;
}
.cups .text2 .r {
	white-space:nowrap;
	position:relative;
	top:20px;
}
.cups .text2 .r input {
	display:inline-block;
	border:none;
	vertical-align:middle;
	background-color:#ffcb4a;
	padding:10px 20px;
	min-width:200px;
	font-size:12px;
	text-transform:uppercase;
	width:79.99%;
	height:35px;
	overflow:hidden;
}
.cups .text2 .r input::-webkit-input-placeholder { color: #fff;font-weight:400; }
.cups .text2 .r input:-moz-placeholder { color:#fff;font-weight:400; }
.cups .text2 .r input::-moz-placeholder { color:#fff;font-weight:400; }
.cups .text2 .r input:-ms-input-placeholder { color: #fff;font-weight:400; }
.cups .text2 .r button {
	background-color:#fff;
	border:none;
	color:#ffba11;
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	padding:10px 0 11px 0;
	display:inline-block;
	vertical-align:middle;
	width:19.99%;
	height:35px;
	overflow:hidden;
}
.sili-times {
	background-color:#6d6d6e;
}
.sili-times .bar {
	text-align:center;
	color:#fff;
	font-size:14px;
	text-transform:uppercase;
	padding:30px 0;
	border-bottom:1px solid #fff;
}
.sili-times .box {
	width:25%;
	float:left;
}
.sili-times .box img {
	border-right:1px solid #fff;
	width:100%;
	height:auto;
	background-color:#efefef;
	margin:0 auto;
}
@media (max-width:570px) {
	.cups .wrap-snap {
		padding:0 10px;
	}
	.cups .text2 .l .flourish {
		background-size:cover;
		width:50px;
		height:32px;
	}
	.cups .text2 .l .words {
		white-space:normal;
	}
	.cups .text2 .r {
		top:-20px;
	}
	.cups .text2 .r input {
		min-width:inherit;
		width:69.9%;
	}
	.cups .text2 .r button {
		width:29.9%;
	}
}
@media (max-width:910px) {
	.featured-products .bar {
		padding-left:100px;
	}
	.featured-products .bar .get-sili {
		width:120px;
		margin-left:-120px;
	}
	.featured-products .bar .get-sili img {
		margin:0 auto;
		position:relative;
		top:15px;
		left:-9px;
		width:70%;
	}
	.featured-products .bar .navi {
		width:100%;
		text-align:center;
	}
	.featured-products .bar .navi a {
		padding:0 15px;
	}
}
@media (max-width:768px) {
	.featured-products .top-bar {
		display:none;
	}
	.featured-products .bottom-bar {
		display:block;
	}
	.unbreakable-bar {
		width:100%;
		height:auto;
		background-color:#EAEAEC;
		padding-right:0;
		top:auto;
		margin-bottom:0;
		border-bottom:2px solid #ccc;
		margin-top:-20px;
	}
	.unbreakable-bar .text {
		color:#777;
		font-weight:200;
		position:relative;
		top:0;
		font-size:18px;
		padding:50px 20px;
		text-align:center;
		text-transform:inherit;
	}
	.unbreakable-bar .arrow {
		display:none;
	}
	.featured-products .bar {
		padding-left:0;
		height:inherit;
		white-space:normal;
	}
	.featured-products .bar .navi {
		width:100%;
		height:auto;
		text-align:center;
		padding-left:0;
		white-space:normal;
		overflow:auto;
		float:none;
		border-top:1px solid #fff;
	}
	.featured-products .bar .navi a {
		display:block;
		float:left;
		padding:0;
		font-size:14px;
		position:relative;
		top:auto;
		color:#999;
		width:25%;
		overflow:hidden;
		vertical-align:middle;
		text-align:center;
	}
	.featured-products .bar .navi a span {
		display:inline-block;
		vertical-align:middle;
		margin:auto auto;
		height:60px;
		width:100%;
		border-left:1px solid #fff;
		border-bottom:1px solid #fff;
		float:none;
		padding:20px 0;
	}
	.featured-products .bar .get-sili {
		display:none;
	}
	.featured-products .navi a.checker {
		background-color:#ccc;
	}
	.featured-products .navi a.l {
		border-left:1px solid transparent;
	}
	.featured-products .navi a.checker.l {
		border-left:1px solid #ccc;
	}
	.featured-products .products-slider .products {
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
	}
}
@media (max-width:480px) {
	.cups .img {
		background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/stacked-cups.png);
		background-position:center center;
		background-repeat:no-repeat;
		height:341px;
	}
}
@media (max-width:320px) {
	.featured-products .bar .navi a.artist span {
		padding-top:10px;
	}
}