.sili-boxes {
	background-color:#fff;
	padding-right:-100px;
	text-align:center;
	margin-left:0;
	margin-right:-2px;
	margin-bottom:-1px;
}
.sili-boxes a {
	display:block;
	width:33%;
	float:left;
	text-decoration:none;
	position:relative;
	background-size:cover;
	float:left;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	overflow:hidden;
}
.sili-boxes a span {
	position:absolute;
	text-align:center;
	color:#fff;
	font-size:30px;
	z-index:10;
	display:none;
	width:100%;
	top:35%;
	white-space:nowrap;
}
.sili-boxes a span span {
	position:relative;
	width:auto;
	top:auto;
	display:inline-block;
	padding:10px 20px;
}
.sili-boxes a i.fa {
	font-size:105px;
	position:absolute;
	top:-20px;
}
.sili-boxes a i.fa-caret-left {
	left:-35px;
}
.sili-boxes a i.fa-caret-right {
	right:-35px;
}
.sili-boxes a img.back,  .sili-boxes a img.front {
	width:100%;
	height:auto;
}
.sili-boxes a img.front {
	position:absolute;
	top:0;
	left:0;
	z-index:5;
	opacity:0.8;
}
.sili-boxes a:hover img.front {
	display:none;
}
.sili-boxes a span.under-text {
	display:none;
}
.sili-boxes a span.over-text {
	display:block;
}
.sili-boxes a:hover span.under-text {
	display:block;
	opacity:0.9;
}
.sili-boxes a:hover span.over-text {
	display:none;
}
@media (max-width:768px) {
	.sili-boxes a {
		width:50%;
	}
}
@media (max-width:480px) {
	.sili-boxes a {
		width:100%;
	}
}