.lb { background-color:#000; color:#fff; min-height:1200px; color:#fff; }
.lb h1 { color:#00aeed; font-size:25px; }
.lb iframe { margin-bottom:20px; display:block; }
.lb .html { padding:20px 0;}
#lightbox .lb { background-color:transparent;}
#lightbox .lightbox-content {
	background-color:rgba(0,0,0,0.8);
}
#lightbox .wrap-snap .lb {
	padding:100px 40px 100px 0;
}
#lightbox .wrap-snap .lb .html {
	padding:20px 0;
}
#lightbox  .lightbox-nav {
	background-color:rgba(0,126,165,0.8);
}
#lightbox  .lightbox-close {
	background-color:rgba(135,135,135,0.8);
}
.lb .rt {
	padding-left:40px;
}
.lb .images img {
	display:block;
	margin-bottom:10px;
}
a, a:visited {
	color:#FFBA11;
	text-decoration:underline;
}
@media (max-width:768px) { 
	.lb .images {
		text-align:center;
	}
	.lb .images img {
		margin:0 auto;
		margin-bottom:10px;
	}
	.lb .rt {
		padding-bottom:60px;
	}
}