* {
	font-family: 'Oswald', sans-serif;
	font-weight:300;
	letter-spacing:1px;
}
textarea, input { outline: none; }
body {
	margin:0;
	padding:0;
	padding-top:93px;
	padding-bottom:40px;
	height:100%;
	background-color:#fff;
}
h1 { font-family: 'Oswald', sans-serif; }
body.scrolled {
	padding-top:75px;
}
#mobileMenu {
	display:none;
}
#bodyWrapper {
	width:100%;
	overflow:hidden;
	transition: margin-left 0.3s ease;
	-webkit-transition: margin-left 0.3s ease;
	min-height:1200px;
}
.wrap-snap {
	max-width:1200px;
	margin:0 auto;
}
#headerMobile { display:none; }
@media (max-width:1200px) {
	.wrap-snap {
		padding:0;
		max-width:1200px;
	}
}
#headerWrapper {
	background-color:#000;
	border-bottom:1px solid #fff;
	position:fixed;
	z-index:1000;
	top:0;
	left:0;
	width:100%;
	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
}
#pushUpMenu {
	background-color:#ffba11;
	height:0;
	position:relative;
	overflow:hidden;
	transition: height 0.3s ease;
	-webkit-transition: height 0.3s ease;
}
body.menuOpen #pushUpMenu {
	height:469px;
}
#pushUpMenu .set-height {
	position:relative;
	height:469px;
}
#pushUpMenu .close {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/big-x.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#FFC841;
	width:90px;
	height:90px;
	position:absolute;
	top:0;
	right:0;
	display:block;
	opacity:1;
	cursor:pointer;
	z-index:5;
}
#pushUpMenu .menu-column {
	width:250px;
	margin:0 auto;
	margin-top:100px;
	width:184px;
	font-size:Arial,Verdana;
	font-size:14px;
}
#pushUpMenu .header {
	background-color:#FFC841;
	color:#000;
	text-transform:uppercase;
	margin-bottom:10px;
	display:block;
}
#pushUpMenu .header span {
	display:inline-block;
	margin:15px;
	padding:0;
	font-size:15px;
}
#pushUpMenu .menu-column a {
	display:block;
	color:#000;
	margin-top:5px;
	margin-left:15px;
}
#pushUpMenu .wrap-snap {
	position:relative;
}
#pushUpMenu .save-more {
	position:absolute;
	bottom:-80px;
	right:0;
	font-size:0;
	white-space:nowrap;
}
#pushUpMenu .save-more-left {
	display:inline-block;
	vertical-align:middle;
	width:26px;
	height:51px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/save-more-left.png);
}
#pushUpMenu .save-more-middle {
	display:inline-block;
	vertical-align:middle;
	font-weight:400;
	font-size:20px;
	color:#fff;
	height:51px;
	background-color:#ffc841;
}
#pushUpMenu .save-more-middle span {
	display:block;
	margin:12px 10px 0 10px;
}
#pushUpMenu .save-more-right {
	display:inline-block;
	vertical-align:middle;
	width:26px;
	height:51px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/save-more-right.png);
}
#header { 
	background-color:#000; 
	height:92px; 
	position:relative;
	margin:0 auto;
}
body.scrolled #header{
	height:75px;
}
@media (max-width:1200px) {
	#header, 
	#pushUpMenu .wrap-snap { 
		max-width:1056px;
	}
}
#header .blob {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/yellow-blob.png);
	background-repeat:no-repeat;
	background-position:top center;
	width:282px;
	height:127px;
	position:absolute;
	left:20px;
	bottom:-30px;
	transition: bottom 0.3s ease;
	-webkit-transition: bottom 0.3s ease;
}
body.scrolled #header .blob {
	bottom:10000px;
}
#header .logo { 
	position:absolute; 
	left:110px; top:15px; 
	display:block; 
	width:142px; height:73px; 
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/logo.png);
	background-repeat:no-repeat;
	transition: top 0.3s ease;
	-webkit-transition: top 0.3s ease;
}
body.scrolled #header .logo { 
	top:-10000px;
}
#header .life-better-sili {
	position:absolute;
	top:-10000px;
	transition: top 0.3s ease;
	-webkit-transition: top 0.3s ease;
	color:#ffba11;
	left:40px;
	font-size:17px;
}
body.scrolled #header .life-better-sili {
	top:25px;
}
#header .menu1 { 
	position:absolute; 
	left:365px; 
	top:35px;
}
body.scrolled #header .menu1 { top:25px; }
#header .menu1 a { display:inline-block; color:#fff; margin-right:30px; font-size:17px; }
#header .menu1 a.selected { color:#FFBA11; }
#header .menu2 { 
	position:absolute; 
	right:30px; 
	top:25px; 
	height:40px; 
	white-space:nowrap; 
	vertical-align:middle; 
}
body.scrolled #header .menu2 { top:15px; }
#header .menu2 .more-sili {
	display:inline-block;
	padding:10px 15px;
	color:#fff;
	font-size:17px;
	margin-right:30px;
	cursor:pointer;
}
#header .menu2 .more-sili .fa.fa-plus {
	font-size:12px;
	display:inline-block;
	position:relative;
	top:-1px;
}
#header .menu2 .more-sili .fa.fa-minus {
	display:none;
}
#header .menu2 .more-sili .less {
	display:none;
}
body.menuOpen #header .menu2 .more-sili .fa.fa-minus {
	font-size:12px;
	display:inline-block;
	position:relative;
	top:-1px;
}
body.menuOpen #header .menu2 .more-sili .fa.fa-plus {
	display:none;
}
body.menuOpen #header .menu2 .more-sili .less {
	display:inline;
}
body.menuOpen #header .menu2 .more-sili .more {
	display:none;
}
#header .menu2 .cart-indicator {
	display:inline-block;
	font-size:14px;
	color:#fff;
	vertical-align:middle;
	position:relative;
	top:-3px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/cart-icon.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:35px;
	cursor:pointer;
}
#header .menu2 .cart-indicator .badge {
	background-color:#fff;
	color:#000;
	display:inline-block;
	font-weight:bold;
	font-family:Arial, Helvetica;
}
#header .menu-label {
	display:none;
}
#stickyFooter {
	height:40px;
	background-color:#000;
	position:fixed;
	display:block;
	left:0;
	width:100%;
	bottom:0;
	font-size:0;
	z-index:101;
}
#stickyFooter form {
	display:inline-block;
	padding-right:90px;
	width:44.9%;
}
#stickyFooter form input {
	width:100%;
	background-color:#292929;
	border:none;
	padding:10px;
	height:40px;
	font-size:14px;
	color:#fff;
	font-weight:300;
	float:left;
}
#stickyFooter form input::-webkit-input-placeholder { color: #c3c3c3; }
#stickyFooter form input:-moz-placeholder { color: #c3c3c3; }
#stickyFooter form input::-moz-placeholder { color: #c3c3c3; }
#stickyFooter form input:-ms-input-placeholder { color: #c3c3c3; }
#stickyFooter form button {
	border:none;
	background-color:#686868;
	color:#000;
	font-size:14px;
	display:inline-block;
	height:40px;
	float:left;
	width:90px;
	margin-right:-90px;
}
#stickyFooter .copyright {
	color:#c3c3c3;
	display:inline-block;
	width:29.9%;
	font-size:12px;
	text-align:center;
	height:40px;
	position:relative;
	top:-15px;
}
#stickyFooter .social {
	display:inline-block;
	width:24.9%;
	text-align:center;
}
#stickyFooter .social a {
	display:inline-block;
	border:none;
	text-decoration:none;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/social-icons.png);
	width:21px;
	height:21px;
	margin-right:10px;
	position:relative;
	top:-9px;
}
#stickyFooter .social a.pt { background-position:-39px 0; }
#stickyFooter .social a.dr { background-position:-78px 0; }
#stickyFooter .social a.tw { background-position:-116px 0; }
#stickyFooter .social a.ut { background-position:-155px 0; }
@media (max-width:992px) {
	#header .menu1 { left:250px; }
	#header .blob { left:-60px; }
	#header .logo { left:30px; }
	#header .menu2 .more-sili { padding-left:0;	margin-right:20px; }
}
@media (max-width:768px) {
	body { padding-top:51px; }
	#pushUpMenu { display:none; }
	#header .blob { bottom:-20px; left:-100px; }
	#header, body.scrolled #header { height:50px; }
	body.scrolled #header .life-better-sili { top:13px; }
	#header .logo { 
		top:5px; 
		width:142px; height:53px; 
		background-size:contain;
		background-color:transparent;
	}
	#header .menu1 { display:none; }
	#header .menu2 { display:none; }
	#headerMobile {
		position:absolute;
		right:10px;
		top:5px;
		display:block;
		z-index:5;
	}
	#toggleMobileMenu { 
		color:#fff; 
		font-size:30px;
		cursor:pointer;
		vertical-align:middle;
		display:inline-block;
		position:relative;
		top:-3px;
	}
	#headerMobile .cart-indicator {
		display:inline-block;
		font-size:14px;
		color:#fff;
		vertical-align:middle;
		position:relative;
		background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/cart-icon.png);
		background-repeat:no-repeat;
		background-position:left center;
		padding-left:35px;
		padding-right:25px;
		cursor:pointer;
	}
	#headerMobile .cart-indicator .badge {
		background-color:#fff;
		color:#000;
		display:inline-block;
		font-weight:bold;
		font-family:Arial, Helvetica;
	}
	#mobileMenu {
		display:block;
		position:fixed;
		top:0;
		right:-280px;
		width:280px;
		transition: right 0.3s ease;
		-webkit-transition: right 0.3s ease;
		height:100%;
		background-color:#ffba11;
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
		z-index:1000;
	}
	#mobileMenu .close {
		background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/big-x.png);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:cover;
		background-color:#FFC841;
		display:block;
		position:absolute;
		width:40px;
		height:40px;
		top:10px;
		right:10px;
		z-index:10;
		opacity:1;
	}
	#mobileMenu .nav {
		padding:10px;
		margin-top:30px;
	}
	#mobileMenu .nav a {
		display:block;
		margin-bottom:5px;
		color:#000;
		font-family: 'Carrois Gothic', sans-serif; 
		font-size:16px;
		padding-left:10px;
	}
	#mobileMenu .nav a span {
	}
	#mobileMenu .nav .header {
		background-color:#FFC841;
		color:#000;
		text-transform:uppercase;
		margin-bottom:10px;
		display:block;
		font-weight:400;
		font-size:18px;
		padding:10px;
		font-family: 'Carrois Gothic', sans-serif; 
		margin-top:20px;
	}
	body.menuOpen #mobileMenu {
		right:0;
	}
	body.menuOpen #bodyWrapper{
		margin-left:-280px;
	}
	body.menuOpen #headerWrapper {
		left:-280px;
	}
}
@media (max-width:692px) {
	body {
		padding-bottom:0;
	}
	#stickyFooter {
		height:150px;
		position:relative;
		bottom:auto;
		left:auto;
		overflow:visible;
		background-color:#000;
	}
	#stickyFooter form,
	#stickyFooter .copyright,
	#stickyFooter .social {
		width:auto;
		display:block;
		margin:0 auto;
		height:auto;
		top:auto;
		left:auto;
		right:auto;
		bottom:auto;
		position:static;
		clear:both;
		float:none;
	}
	#stickyFooter .social {
		position:absolute;
		bottom:60px;
		width:100%;
		text-align:center;
	}
	#stickyFooter .social a {
		top:0;
	}
	#stickyFooter .copyright {
		position:absolute;
		bottom:20px;
		width:100%;
		text-align:center;
	}
	.lightboxed #stickyFooter {
		display:none;
	}
}
@media (max-width:480px) {
	#header .life-better-sili {
		left:20px;
	}
}

@media (max-width:320px) {
	#header .blob {  }
}


.cups {
	background-color:#ffba11;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
}
.cups .wrap-snap {
	padding:0 40px;
}
.cups .text1 {
	margin:92px auto 62px auto;
	color:#fff;
	font-size:14px;
}
.cups .img {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/large-cups.png);
	background-position:center center;
	background-repeat:no-repeat;
	height:228px;
}
.cups .text2 {
	margin:70px auto 80px auto;
	max-width:1026px;
	font-size:0;
}
.cups .text2 .l {
	height:76px;
	color:#fff;
	font-size:14px;
	white-space:nowrap;
	padding-right:40px;
}
.cups .text2 .l .flourish {
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/newsletter-flurry.png);
	background-position:left center;
	background-repeat:no-repeat;
	width:102px;
	height:76px;
	vertical-align:middle;
	display:inline-block;
}
.cups .text2 .l .words {
	vertical-align:middle;
	display:inline-block;
	font-size:14px;
	font-weight:400;
	white-space:normal;
	padding-right:20px;
}
.cups .text2 .r {
	white-space:nowrap;
	position:relative;
	top:20px;
}
.cups .text2 .r input {
	display:inline-block;
	border:none;
	vertical-align:middle;
	background-color:#ffcb4a;
	padding:10px 20px;
	min-width:200px;
	font-size:12px;
	text-transform:uppercase;
	width:79.99%;
	height:35px;
	overflow:hidden;
}
.cups .text2 .r input::-webkit-input-placeholder { color: #fff;font-weight:400; }
.cups .text2 .r input:-moz-placeholder { color:#fff;font-weight:400; }
.cups .text2 .r input::-moz-placeholder { color:#fff;font-weight:400; }
.cups .text2 .r input:-ms-input-placeholder { color: #fff;font-weight:400; }
.cups .text2 .r button {
	background-color:#fff;
	border:none;
	color:#ffba11;
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	padding:10px 0 11px 0;
	display:inline-block;
	vertical-align:middle;
	width:19.99%;
	height:35px;
	overflow:hidden;
}
@media (max-width:570px) {
	.cups .wrap-snap {
		padding:0 10px;
	}
	.cups .text2 .l .flourish {
		background-size:cover;
		width:50px;
		height:32px;
	}
	.cups .text2 .l .words {
		white-space:normal;
	}
	.cups .text2 .r {
		top:-20px;
	}
	.cups .text2 .r input {
		min-width:inherit;
		width:69.9%;
	}
	.cups .text2 .r button {
		width:29.9%;
	}
}

@media (max-width:480px) {
	.cups .img {
		background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/stacked-cups.png);
		background-position:center center;
		background-repeat:no-repeat;
		height:341px;
	}
}

.yellow-box {
	background-color:#ffba11;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	color:#fff;
}
.yellow-box .wrap-snap {
	padding:40px;
}
@media (max-width:570px) {
	.yellow-box .wrap-snap {
		padding:40px 10px;
	}
}


/* shop nav */
<div class="shop-nav clearfix">
	<div class="shop-nav-bar">
		<i class="fa fa-caret-down down"></i>
		<i class="fa fa-caret-up up"></i>
		<span class="{{ items[navID + 'SubNavLabel'].classNames }}">
			{% if items[navID + 'SubNavLabel'].content %}
				{{ items[navID + 'SubNavLabel'].content }}
			{% else %}
				Navigation
			{% endif %}
		</span>
	</div>
	<div class="shop-list-view">
		<div class="wrap-snap">
			<a>List View</a>
		</div>
	</div>
	<div class="clearfix nav-items {{ items[navID + 'SubNav'].classNames }}">
		<div class="wrap-snap">
			<div class="">
			{% for item in items[navID + 'SubNav'].content %}
				<a href="{{ item.href }}">{{ item.text }}</a>
			{% endfor %}
			</div>
		</div>
	</div>
</div>



/* shop nav */
.sub-nav {
	background-color:#555;
	text-align:center;
}
.sub-nav-bar {
	display:none;
}
.sub-nav .menu {
	padding:25px 0 20px 0;
}
.sub-nav .menu a {
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	display:block;
	padding:0;
	margin-bottom:5px;
	width:25%;
	float:left;
	overflow:hidden;
}
.sub-nav .sub-list-view {
	background-color:#555;
}
.sub-nav .sub-list-view a.lv {
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	display:inline-block;
	padding:15px 0;
}
.sub-nav .sub-list-view a.share-sili,
.sub-nav .sub-list-view a.customer-service {
	display:inline-block;
	font-size:13px;
	margin-left:40px;
	position:relative;
	top:0;
	color:#fff;
	display:none;
}
.sub-nav .sub-list-view .wrap-snap {
	padding-left:288px;
}
.sub-nav .nav-items .menu {
	min-height:120px;
}
.sub-nav .nav-items .wrap-snap {
	position:relative;
}
.sub-nav .nav-items .close {
	display:block;
	position:absolute;
	left:90px;
	top:28px;
	width:58px;
	height:58px;
	border:1px solid #fff;
	color:#fff;
	font-size:10px;
	opacity:1;
	font-weight:normal;
}
@media (max-width:1200px) {
	.sub-nav .sub-list-view .wrap-snap {
		padding-left:360px;
	}
	.sub-nav .nav-items .close {
		left:170px;
	}
}
@media (max-width:990px) {
	.sub-nav .sub-list-view .wrap-snap {
		padding-left:246px;
	}
	.sub-nav .nav-items .close {
		left:60px;
	}
}
.sub-nav .sub-list-view .wrap-snap a {
	cursor:pointer;
}
.sub-nav .nav-items {
	background-color:#6a6a6a;
}
.sub-nav .nav-items .wrap-snap {
	padding-left:288px;
}
@media (max-width:1200px) {
	.sub-nav .nav-items .wrap-snap {
		padding-left:360px;
	}
}
@media (max-width:990px) {
	.sub-nav .nav-items .wrap-snap {
		padding-left:246px;
	}
}
.sub-nav.selected .sub-list-view a.lv {
	color:#FFBA11;
}
.sub-nav .nav-items a.selected {
	color:#FFBA11;
}
.sub-nav .wrap-snap {
	max-width:1056px;
	margin:0 auto;
}
.sub-nav .nav-items {
	height:auto;
	display:none;
	overflow:hidden;
}
@media (max-width:768px) {
	.sub-nav .nav-items .menu {
		min-height:0;
	}
	.sub-nav .sub-list-view {
		display:none;
	}
	.sub-nav .sub-nav-bar {
		display:block;
		background-color:#000;
		color:#fff;
		text-align:right;
		padding:15px;
		font-size:14px;
		cursor:pointer;
	}
	.sub-nav .sub-nav-bar i {
		display:inline-block;
		font-size:20px;
		margin-right:20px;
	}
	.sub-nav .sub-nav-bar i.up {
		display:none;
	}
	.sub-nav .nav-items .close {
		display:none;
	}
	.sub-nav .nav-items .wrap-snap {
		padding:0;
	}
	.sub-nav .sub-list-view a {
		display:inline-block;
		float:none;
		margin:0;
		padding:;
	}
	.sub-nav .menu {
		padding:0;
	}
	.sub-nav .menu a {
		text-align:center;
		display:block;
		width:33.33%;
		float:left;
		border:none;
		text-decoration:none;
		margin:0;
		background-color:#333;
		font-size:14px;
		border-left:2px solid #000;
		border-bottom:2px solid #000;
		padding:15px 0;
		margin:0;
	}
	.sub-nav.selected .sub-nav-bar {
		color:#FFBA11;
	}
	.sub-nav.selected .sub-nav-bar i.down {
		display:none;
	}
	.sub-nav.selected .sub-nav-bar i.up {
		display:inline-block;
	}
}

/* lightbox */
body.lightboxed #contentWrapper {
	position:fixed;
	top:75px;
	left:0;
	width:100%;
	overflow:hidden;
	max-height:100%;
}
#lightbox-back {
	position:fixed;
	left:0;
	top:50px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:100;
}
#lightbox {
	position:absolute;
	left:0;
	top:50px;
	width:100%;
	z-index:100;
}
#lightbox .lightbox-content {
	position:relative;
	background-color:#fff;
	max-width:1000px;
	min-height:1500px;
}
#lightbox .lightbox-nav {
	width:82px;
	height:82px;
	top:220px;
	position:absolute;
	background-color:rgba(255,255,255,0.5);
	z-index:1000;
	display:block;
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
}
#lightbox .lightbox-left {
	left:-82px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/lightbox-arrow-left.png);
}
#lightbox .lightbox-right {
	right:-82px;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/lightbox-arrow.png);
}
#lightbox .lightbox-close {
	width:60px;
	height:60px;
	top:100px;
	right:0;
	position:absolute;
	background-color:rgba(125,125,125,0.5);
	z-index:2000;
	cursor:pointer;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/lightbox-close-X.png);
}
form[role=form] input.error,
form[role=form] textarea.error,
form[role=form] select.error {
	color:#f00;
	border-color:#f00;
}