.product-detail {
	margin:60px 20px;
}
#lightbox .product-detail {
	margin:0;
	padding:60px 0;
}
.product-detail .sl {
	float:left; 
	width:50%;
	overflow:hidden;
	border-right:2px solid #efefef;
}
.product-detail .sr {
	width:50%;
	float:right;
	overflow:hidden;
	padding:0 0 0 20px;
	clear:right;
	border-left:2px solid #efefef;
	position:relative;
	left:-2px;
}
.product-detail .section1 {

}
.product-detail .section1 .main {
	min-width:50%;
	min-height:50px;
	width:100%;
	height:auto;
}
.product-detail .section2 {
	color:#999;
	font-family:'Oswald',sans-serif;
}
.product-detail .section2 h1 { font-size:30px; }
.product-detail .section2 h2 { font-size:20px; }
.product-detail .section3 {
	overflow:hidden;
	margin-top:40px;
}
.product-detail .sr .row-spacer {
	margin-bottom:20px;
}
.product-detail .section3 .bg {
	background-color:#efefef;
	padding:10px;
}
.product-detail .section3 button {
	background-color:#000;
	color:#FFBA12;
	border:none;
	padding:5px 10px;
	font-size:14px;
	text-transform:uppercase;
	height:40px;
}
.product-detail .sr .lbl {
	display:inline-block;
	width:60px;
}
.product-detail .section3 input {
	background-color:#d9d9d9;
	border:none;
	width:35px;
	height:40px;
	text-align:center;
	display:inline-block;
	margin-right:5px;
}
.product-detail .section4 {
	padding:40px 20px 40px 30px;
}
.product-detail .section4 iframe {
	width:65px;
	height:25px;
	display:inline-block;
	overflow:hidden;
	border:none;
	vertical-align:middle;
	margin-right:10px;
}
.product-detail .section4 a {
	width:65px;
	height:25px;
	display:inline-block;
}
.section4 iframe.facebook-share {
	width:95px;
}
.section4 iframe.twitter-share {
	width:95px;
}
.product-detail .section7 {
	border-top:2px solid #efefef;
	border-right:2px solid #efefef;
	padding-top:40px;
}
.product-tabs .tab-tabs {
	margin-right:-1px;
	font-size:0;
}
.product-tabs .top-tabs a {
	display:block;
	width:33.3%;
	border-right:1px solid #fff;
	background-color:#ccc;
	color:#fff;
	font-size:12px;
	padding:10px;
	float:left;
	text-transform:uppercase;
	cursor:pointer;
}
.product-tabs .top-tabs a.selected {
	color:#555;
	background-color:#efefef;
}
.product-tabs .tab-content {
	display:none;
	padding:20px;
	background-color:#efefef;
	border-top:1px solid #fff;
	min-height:400px;
}