.showcase {
	
}
.showcase .item {
	width:33.33%;
	float:left;
	border:none;
	border-right:1px solid #aaa;
	border-top:1px solid #aaa;
	cursor:pointer;
	display:block;
	text-decoration:none;
	overflow:hidden;
	position:relative;
}
.showcase .item .back {
	width:100%;
	height:auto;
	background-color:#fff;
	display:block;
}
.showcase .item .img,
.showcase .item .img2 {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	display:block;
}
.showcase .item .img2 {
	display:none;
}
.showcase .item:hover .img2 {
	display:block;
	opacity:0.9;
}
.showcase .item:hover .img {
	display:none;
}
.showcase .item .text {
	text-align:center;
	background-color:#ccc;
	color:#fff;
	padding:15px 0;
	font-size:16px;
	font-weight:400;
	text-transform:uppercase;
	display:block;
}
.showcase .item:hover .text {
	background-color:#000;
	color:#FFBA11;
}
@media (max-width:768px) {
	.showcase .item {
		width:100%;
	}
}