.stores {
	padding:40px 20px;
}
.stores .map {
	width:100%;
	height:600px;
}
.stores .marker {
	
}
.stores form {
	margin-bottom:20px;
}
.stores .result {
	cursor:pointer;
}
#resultsMenu {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
@media (max-width:768px) {
	#resultsMenu {
		margin-bottom:20px;
	}
}