/* featured products */
.featured-products {}
.featured-products .bar {
	height:62px;
	font-size:0;
}
.featured-products .bar .get-sili {
	width:30%;
	height:62px;
	text-align:right;
	float:left;
	padding-left:-20px;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #cccccc 29%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(29%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#cccccc 29%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.featured-products .bar .get-sili img {
	margin-right:20px;
	margin-top:15px;
	width:100%;
	max-width:100px;
	height:auto;
}
.featured-products .bar .navi {
	width:70%;
	height:62px;
	text-align:left;
	padding-left:20px;
	white-space:nowrap;
	overflow:hidden;
	float:left;
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #ffffff 29%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(29%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#ffffff 29%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
@media (max-width:1060px) {
	.featured-products .bar .get-sili {
		width:20%;
	}
	.featured-products .bar .navi {
		width:80%;
	}
}
.featured-products .bottom-bar {
	display:none;
}
.featured-products .bar .navi a {
	display:inline-block;
	padding:0 20px;
	font-size:14px;
	position:relative;
	top:22px;
	color:#999;
}
.featured-products .products-slider {
	height:535px;
	background-color:#fff;
	position:relative;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-align:center;
	font-size:0;
}
.featured-products .products-slider .products {
	width:100%;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
	margin:0 auto;
}
.featured-products .products-slider .product {
	height:535px;
	width:320px;
	display:inline-block;
	border:none;
	text-decoration:none;
}
.featured-products .products-slider .product .img {
	width:90%;
	height:300px;
	background-color:#efefef;
	margin:0 auto;
	margin-top:90px;
	background-position:center center;
	background-repeat:no-repeat;
	font-size:50px;
	text-align:center;
	line-height:100px;
	background-size:cover;
	display:block;
}
.featured-products .products-slider .product .text {
	text-align:center;
	color:#555;
	font-weight:400;
	font-size:14px;
	line-height:18px;
	margin-top:20px;
	display:block;
}
.featured-products .products-slider .product .text1 { display:block; margin-bottom:5px; }
.featured-products .products-slider .product .text2 { display:block; margin-bottom:5px; }
.featured-products .products-slider .product .text3 { display:block; font-weight:300; color:#777; }
.featured-products .products-slider .l-arrow-back,
.featured-products .products-slider .r-arrow-back {
	width:80px;
	height:535px;
	position:absolute;
	top:0;
	cursor:pointer;
	z-index:1;
}
.featured-products .products-slider .arrow {
	background-repeat:no-repeat;
	background-position:center center;
	width:80px;
	height:535px;
	display:block;
	text-decoration:none;
	border:none;
	outline: none;
	color:#ccc;
	font-size:100px;
	opacity:0.5;
	top:170px;
	position:absolute;
	background-color:transparent;
	cursor:pointer;
}
.featured-products .products-slider .arrow::-moz-focus-inner {
	border:0;
}
.featured-products .products-slider .l-arrow-back {
	left:0;
}
.featured-products .products-slider .l-arrow {
	/*background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/carousel-left.png?v1);*/
}
.featured-products .products-slider .r-arrow-back {
	right:0;
}
.featured-products .products-slider .r-arrow {
	/*background-image:url(//d1niwwqaddyuw4.cloudfront.net/img/carousel-right.png?v1);*/
}
@media (max-width:910px) {
	.featured-products .bar {
		padding-left:100px;
	}
	.featured-products .bar .get-sili {
		width:120px;
		margin-left:-120px;
	}
	.featured-products .bar .get-sili img {
		margin:0 auto;
		position:relative;
		top:15px;
		left:-9px;
		width:70%;
	}
	.featured-products .bar .navi {
		width:100%;
		text-align:center;
	}
	.featured-products .bar .navi a {
		padding:0 15px;
	}
}
@media (max-width:768px) {
	.featured-products .top-bar {
		display:none;
	}
	.featured-products .bottom-bar {
		display:block;
	}
	.featured-products .bar {
		padding-left:0;
		height:inherit;
		white-space:normal;
	}
	.featured-products .bar .navi {
		width:100%;
		height:auto;
		text-align:center;
		padding-left:0;
		white-space:normal;
		overflow:auto;
		float:none;
		border-top:1px solid #fff;
	}
	.featured-products .bar .navi a {
		display:block;
		float:left;
		padding:0;
		font-size:14px;
		position:relative;
		top:auto;
		color:#999;
		width:25%;
		overflow:hidden;
		vertical-align:middle;
		text-align:center;
	}
	.featured-products .bar .navi a span {
		display:inline-block;
		vertical-align:middle;
		margin:auto auto;
		height:60px;
		width:100%;
		border-left:1px solid #fff;
		border-bottom:1px solid #fff;
		float:none;
		padding:20px 0;
	}
	.featured-products .bar .get-sili {
		display:none;
	}
	.featured-products .navi a.checker {
		background-color:#ccc;
	}
	.featured-products .navi a.l {
		border-left:1px solid transparent;
	}
	.featured-products .navi a.checker.l {
		border-left:1px solid #ccc;
	}
	.featured-products .products-slider .products {
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
	}
}
@media (max-width:320px) {
	.featured-products .bar .navi a.artist span {
		padding-top:10px;
	}
}