<div class="products-slider">
	<div class="arrow-back l-arrow-back">
		<a href="#" class="arrow l-arrow"><i class="fa fa-angle-left"></i></a>
	</div>
	<div class="products">
	{% for product in products %}
		<div class="product">
			<div class="img">{{ product.index }}</div>
			<div class="text">
				<div class="text1">9 oz. SHORTY</div>
				<div class="text2">"DESERT WONDERS, by S. UCEDA"</div>
				<div class="text3">$9.95</div>
			</div>
		</div>
	{% endfor%}
	</div>
	<div class="arrow-back r-arrow-back">
		<a href="#" class="arrow r-arrow"><i class="fa fa-angle-right"></i></a>
	</div>
</div>