<div class="shop-nav clearfix">
	<div class="shop-nav-bar">
		<i class="fa fa-caret-down down"></i>
		<i class="fa fa-caret-up up"></i>
		<span>SHOP</span>
	</div>
	<div class="nav-items">
		<a href="/new-silipint-products">New Items</a>
		<a href="/pint-glasses">Pints</a>
		<a href="/half-pints">Half-Pints</a>
		<a href="/shorty-cups">Shorty's</a>
		<a href="/shot-glasses">Shots</a>
		<a href="/lids">Lids</a>
		<a href="/silipint-sets">Sets</a>
		<a href="/artist-series">Artists Series</a>
		<a href="/sale">Sale</a>
	</div>
</div>